<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            {% if page.category %}
            <a class="btn" href="#">{{page.category}}</a>
            {% endif %}
            <h1>Academia Son de Habana</h1>
        </div>

        <div class="process_tab_shortcode">
            <ul class="nav nav-tabs v_menu" id="myTabs" role="tablist">
                <li class="nav-item">
                    <a aria-controls="card" aria-selected="true" class="nav-link active" data-toggle="tab" href="#card" id="card-tab" role="tab">
                        <span>1</span>Refugio emocional</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="customer" aria-selected="false" class="nav-link" data-toggle="tab" href="#customer" id="customer-tab" role="tab">
                        <span>2</span>Plataforma social</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="charge" aria-selected="false" class="nav-link" data-toggle="tab" href="#charge" id="charge-tab" role="tab">
                        <span>3</span>Laboratorio de experiencias</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContents">
                <div aria-labelledby="card-tab" class="tab-pane fade show active" id="card" role="tabpanel">
                    <div class="version">
                        <p class="ft_change">
                            Donde las personas esperan hallar sosiego, distenderse y sobreponerse a ciertos estados emocionales más o menos cotidianos –estrés, cansancio, tristeza, etc.–, y tener un respiro de ciertos estilos hegemónicos de comportamiento y actuación, determinados por la hiperproductividad, el temple competitivo, la formalidad laboral, entre otros.
                        </p>
                    </div>
                </div>
                <div aria-labelledby="customer-tab" class="tab-pane fade" id="customer" role="tabpanel">
                    <div class="version">
                        <p class="ft_change">
                            Invita a salir de los círculos habituales compuestos por compañeros de trabajo, familiares y amigos, para encontrarse con personas desconocidas gracias a un interés común.
                        </p>
                    </div>
                </div>
                <div aria-labelledby="charge-tab" class="tab-pane fade" id="charge" role="tabpanel">
                    <div class="version">
                        <p class="ft_change">
                            Permite la experimentación con las distintas habilidades y saberes incorporados. Allí se empieza a compartir un lenguaje común, un conjunto de reglas de juego, unos códigos para poner en funcionamiento lo aprendido.
                        </p>
                    </div>
                </div>
                <button class="btn btn-info btn-lg previous">
                    <i class="arrow_carrot-left"></i>
                </button>
                <button class="btn btn-info btn-lg next">
                    <i class="arrow_carrot-right"></i>
                </button>
            </div>
        </div>

        <p>Son de Habana es un caso particular entre los muchos espacios del campo danzario que he conocido, un lugar no convencional con un poco de los dos mundos por los cuales merodeamos las/os amantes del baile: la academia, iluminada, con espejos inmensos cubriendo sus paredes y privada de objetos que puedan incomodar la ejecución de las clases o ensayos; y el bar salsero, con sus mesas, el olor a café, comida o cerveza, las conversaciones multitudinarias y una pista de baile.</p>
        <p>Diferenciándose de los espacios festivos –discotecas, bares, grilles, etc.–, pero también de las academias más especializadas en el performance coreográfico para los escenarios, la academia Son de Habana parecía estar cumpliendo una función híbrida: para la formación en saberes técnicos, estéticos, expresivos, etc., como para favorecer socialización, bienestar y consumo cultural.</p>
        <p>Son de Habana es pensada y exhibida como un islote de bienestar y sosiego –del trabajo, de los distintos “males” del mundo moderno, de ciertos esquemas y normas sociales, etc.– para quienes tienen los medios con los cuales acceder a ella.</p>
        <p>La academia es un taller artesanal, es decir, un espacio social y un factor de cohesión social “mediante una taza de café (…); mediante una tutoría (…) [formal o informal]; o mediante el hecho de compartir información cara a cara” (Sennett, p. 96). (p. 79)</p>
        <p>Además de articularse y alinearse con un mercado cultural nacional del baile en el que se comercializa/ofrece/promete con un capital cultural, corporal y danzario, la academia se encuentra al día con las oportunidades comerciales del mercado transnacional, para las cuales se ha insertado poco a poco en el campo del turismo local. Allí promete una experiencia de lo “latino” y de Colombia a través del baile, con la oferta de cursos intensivos y personalizados a visitantes extranjeros que se alojan por la zona.</p>
        <p>La función dancística con la que cumple la academia habla sobre el proceso de educación del cuerpo en el cual se embarca cada persona con la guía y apoyo de sus profesoras/es.</p>

        <iframe width="100%" height="500" src="https://www.youtube.com/embed/H11yVb_B9Lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div>
            <figure>
                <img alt="image with caption" class="img-fluid" src="{{"img/investigacion/el-escenario/academia-son-de-habana/mapa.png" | relative_url}}">
                <figcaption>Son de Habana en el mapa.</figcaption>
            </figure>
        </div>
    </div>
</article>