<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            <h1>La atención somática</h1>
        </div>
        <p>En el ejercicio etnográfico y autoetnográfico la atención somática a las experiencias de cada una de alumnas/os durante las clases y demás momentos con el baile, invita a detenerse en los matices y significados múltiples que están encarnados en sus movimientos, sus gestos y expresiones.</p>
        <p>La apuesta fue por una «atención somática» –un término de Thomas Csordas–, es decir, unos “«modos culturalmente elaborados de prestar atención a, y con, el propio cuerpo, en entornos que incluyen la presencia corporizada de otros» (1993:138)”. Así, en el trabajo etnográfico, pero sobre todo en aquellos momentos en los que la investigación fue bailada, la observación-atención involucró por completo mis facultades auditivas y olfativas, la sensibilidad de mis receptores táctiles, la respuesta inmediata de mis reflejos, la capacidad para sentir sorpresa, disgusto, desagrado, placer y más.</p>
    </div>
</article>