<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            {% if page.category %}
            <a class="btn" href="#">{{page.category}}</a>
            {% endif %}
            <h1>Lo autoetnográfico</h1>
            <p>Lo invitamos a que ubique el cursor sobre cada una de las partes resaltadas de las fotos para conocer más sobre la experiencia autoetnográfica.</p>
        </div>


        <img alt="large" class="img-fluid zoom" src="{{"img/investigacion/metodologia/autoetnografia.png" | relative_url}}">
        <a style="top: 46%;" class="tooltips img_popup-no-click" data-tooltip-content="#tooltip4" href="#">
            <i class="icon_plus"></i>
        </a>
        <a style="top: 26%;" class="tooltips img_popup-no-click" data-tooltip-content="#tooltip3" href="#">
            <i class="icon_plus"></i>
        </a>
        <a style="left: 61%; top: 35%;" class="tooltips img_popup-no-click" data-tooltip-content="#tooltip1" href="#">
            <i class="icon_plus"></i>
        </a>
        <a style="left: 53%; top: 32%;" class="tooltips img_popup-no-click" data-tooltip-content="#tooltip2" href="#">
            <i class="icon_plus"></i>
        </a>


    </div>

</article>

<!-- Tooltip content -->
<div class="tooltip_templates d-none">
    <div class="tip_content" id="tooltip1">
        <div class="text">
            <p>El grado de implicación/involucramiento como investigadora tiene que ver con los distintos roles que he apropiado en la academia de baile: como profesora/trabajadora cada lunes, como alumna en otras clases, bailarina participante en los eventos sociales, compañera, colega e incluso amiga de algunas/os alumnas/os, profesoras/es y de sus directivas/os</p>
        </div>
    </div>
</div>

<div class="tooltip_templates d-none">
    <div class="tip_content" id="tooltip2">
        <div class="text">
            <p>La dimensión metodológica de la investigación tiene como punto de partida la experiencia de usar “[mi] propio cuerpo para entender lo que sucede en y con los cuerpos de otros” (Puglisi, 2019, 23).</p>
        </div>
    </div>
</div>

<div class="tooltip_templates d-none">
    <div class="tip_content" id="tooltip3">
        <div class="text">
            <p>Un cuerpo que se convierte en instrumento para incorporar las múltiples percepciones e impresiones que emergen del trabajo de campo; en un medio para reflexionar sobre mi propia vivencia del baile y lo que esta tiene para aportar a la investigación; y, sin duda, en un cómplice a la hora de encontrar una expresión propia y encarnada que me permita narrar, describir y analizar lo vivido. (p. 53)</p>
        </div>
    </div>
</div>

<div class="tooltip_templates d-none">
    <div class="tip_content" id="tooltip4">
        <div class="text">
            <p>En tanto modalidad de investigación y de escritura, la autoetnografía es el proceso en el que lo personal se entronca con lo cultural y lo biográfico con el contexto social en el que se investiga (Blanco, 2012).</p>
        </div>
    </div>
</div>