---
layout: default
search: false
preloader: true
navbar:
    right_nav_tool: true
    type: dark_menu
---

{% include doc_banner.html %}

<section class="doc_blog_classic_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <h1>Miniserie documental</h1>
                <p>Miniserie documental para la divulgación de la investigación <kbd><a href="https://www.youtube.com/hashtag/elbailenosune" target="_blank">#ElBaileNosUne</a></kbd>. Experiencias corporales y prácticas afectivas en la Academia Son de Habana, antes y durante la crisis por el covid-19". Beca de Investigación en Danza - Categoría D. Gerencia de Danza, Idartes. (Producción sin ánimo de lucro).</p>
                <div class="blog_top_post shadow-sm blog_classic_item">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/H11yVb_B9Lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="b_top_post_content">
                        <a href="{{post.url | relative_url}}">
                            <h3>Cap. 1: El salón, la gente y el ritmo</h3>
                        </a>
                    </div>
                </div>

                <div class="blog_top_post shadow-sm blog_classic_item">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Tv9UtL1iVHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="b_top_post_content">
                        <a href="{{post.url | relative_url}}">
                            <h3>Cap. 2: Sin el baile, otra sería la historia</h3>
                        </a>
                    </div>
                </div>

                <div class="blog_top_post shadow-sm blog_classic_item">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/J6ohzLAOZuE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="b_top_post_content">
                        <a href="{{post.url | relative_url}}">
                            <h3>Cap 3: Cambiarle el sabor a la tristeza</h3>
                        </a>
                    </div>
                </div>

                <div class="blog_top_post shadow-sm blog_classic_item">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/0xHjlJzoCqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="b_top_post_content">
                        <a href="{{post.url | relative_url}}">
                            <h3>Cap. 4: Al compás de lo bello y lo difícil</h3>
                        </a>
                    </div>
                </div>

                <div class="blog_top_post shadow-sm blog_classic_item">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/pSPDg46zRzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="b_top_post_content">
                        <a href="{{post.url | relative_url}}">
                            <h3>Cap. 5: La identidad al son de la rumba</h3>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <!--
                {% include mini-serie/blog_right_sidebar.html %}
                -->
            </div>
        </div>
    </div>
</section>