<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            {% if page.category %}
            <a class="btn" href="#">{{page.category}}</a>
            {% endif %}
            <h1>Identidades bailadas</h1>
        </div>
        <p>Las identidades bailadas son los procesos significantes y a la vez afectivos que configuramos y negociamos al bailar, en el trabajo artesanal con el movimiento que hacemos con nuestros cuerpos.</p>
        <p>Son como una novedosa carta de presentación, en un mundo en el que esta responde al nivel de estudios, el monto del salario, el estado civil y familiar, y otros elementos de un relato del éxito profesional y personal.</p>
        <p>En un mundo en el que las identidades se fragmentan y las sociedades se desintegran, desarraigadas por las distintas formas de migración e incitadas por un mercado capitalista que tiene como imanes sus centros urbanos, las identidades bailadas son una suerte de refugio simbólico que nos indica que hacemos parte de algo, de una formación social que se presenta como homogénea, sólida y estable.</p>
        <p>En muchas ocasiones las identidades se articulan con relatos romantizadores y exotizantes que naturalizan habilidades y competencias, excluyendo a algunas/os de la experiencia de identificarse. Es lo que sucede con la noción de “no-latina/o” o extranjera, aquella persona a la que se le niega, de cierta forma, la plenitud de la experiencia del baile y el disfrute.</p>
        <p>Nos llamamos salseras/os, timberas/os, bachateras/os. Soy latinas/os, colombianas/os. Soy bailadores/as, bailarines/as, rumberas/os. Se entrecruzan identidades regionales o nacionales, de género, raciales y de clase social con experiencias afectivas.</p>

        <iframe width="100%" height="500" src="https://www.youtube.com/embed/pSPDg46zRzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</article>