<section class="doc_banner_area banner_creative1" style="background-image:url('img/banner_one/home-chica.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 1050px;">
    <div class="container">
        <div class="doc_banner_content">
            <h2 class="wow fadeInUp" style="-webkit-text-stroke: 1px black;">{{ include.title }}</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">{{ include.subtitle }}</p>
            <form action="#" class="header_search_form">
                <div class="header_search_form_info">
                    <iframe style="border-radius:12px; margin-top: 250px;" src="https://open.spotify.com/embed/track/2Gd3SsV9zS4TpK4MfX7Qxu?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
                <div class="header_search_keyword">
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#">Entrevistas bailadas</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.2s">
                            <a href="#">Baile</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#">Identidades bailadas</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <a href="#">Afectos</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#">Cuerpo</a>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#">Autoetnografía</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>