<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">
        {% if page.category %}
        <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>Multiforme y Complejo</h1>
        <p>En el estudio afectivo del baile, este toma un carácter multidimensional, complejo e incluso contradictorio: como proceso social y cultural de creación en movimiento, como producto en un mercado cultural, como artesanía del movimiento, lenguaje del cuerpo y acción social afectiva. También, como una práctica afectiva con un potencial terapéutico y como escenario de intercambio, negociación y acceso a un capital cultural, simbólico, social, sexual y emocional, de tipo corporal..</p>
    </div>

    <div class="tab_shortcode">
        <div class="shortcode_title">
            <h4>Horizontal Tab</h4>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#myc-1-content" id="myc-1-tab" role="tab">Producto cultural</a>
            </li>
            <li class="nav-item">
                <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#myc-2-content" id="myc-2-tab" role="tab">Lenguaje del cuerpo</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#myc-3-content" id="myc-3-tab" role="tab">Artesanía del movimiento</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#myc-4-content" id="myc-4-tab" role="tab">Práctica social y cultural</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#myc-5-content" id="myc-5-tab" role="tab">Práctica afectiva</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#myc-6-content" id="myc-6-tab" role="tab">Práctica con potencial terapéutico</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="myc-1-content" role="tabpanel">
                Junto con la música, el baile fue concebido como un producto cultural, es decir, como mercancía con unos circuitos propios de valoración e intercambio. Un producto por el cual varias personas están dispuestas a pagar bien sea para disfrutar de este en su calidad de espectáculo o para aprender y cualificarse con maestras/os especializadas/os (p. 35).
            </div>
            <div aria-labelledby="profile-tab" class="tab-pane fade" id="myc-2-content" role="tabpanel">
                Un lenguaje –o lenguajes– “socialmente construido para establecer otras formas de comunicación, para experimentar otros modos de sentir al otro y de hacernos sentir ante él” (Ulloa, 2004, p. 136), compuesto de “códigos, sensibilidades y gestos” (p. 125) que dialogan con la experiencia cotidiana del cuerpo (p. 56).
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="myc-3-content" role="tabpanel">
                (…) el baile en esta situación social particular es proceso en y por el cual se crea y se trabaja –de forma particular y distinta, usualmente, a la cotidiana– el movimiento corporal, entendido como materia cultural, histórica, social y política. (p. 58) Un proceso por el cual se aprende a hacer con el cuerpo, desde el trabajo minucioso con sus posibilidades cinéticas. (p. 79)
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="myc-4-content" role="tabpanel">
                El baile pide ser pensado como producto y como proceso. Por una parte, son las distintas danzas que se producen en contextos particulares y que conocemos como tipos, géneros o estilos que pueden ser aprendidos, exhibidos, comercializados, etc. Es, también, una acción social en constante elaboración, con sus respectivas “posibilidades de producción y recepción de esos textos y procesos, y su articulación en sistemas de valores” (Desmond, p. 2).
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="myc-5-content" role="tabpanel">
                El baile como una práctica en la que se articulan emociones y sentimientos, experiencias corporales, sentidos sociales, discursos y narrativas. Configura y es configurada por las relaciones sociales, las condiciones y demás prácticas que convergen en el lugar donde toma forma.
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade" id="myc-6-content" role="tabpanel">
                Al igual que sucede con la totalidad de las prácticas terapéuticas, en las que se promete una recuperación de cara al sufrimiento psíquico y emocional como un beneficio social por el que se puede pagar, en el baile operan lógicas capitalistas en las que lo emocional es el valor de cambio.
            </div>
        </div>
    </div>

    <div class="shortcode_title">
        <h4>Process Tab</h4>
        <p class="just_ch_color">Try the Docy API in seconds. Create your first customer,
            charge, and more by
            following the step below.</p>
    </div>
    <div class="process_tab_shortcode">
        <ul class="nav nav-tabs v_menu" id="myTabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="card" aria-selected="true" class="nav-link active" data-toggle="tab" href="#card" id="card-tab" role="tab">
                    <span>1</span>Card</a>
            </li>
            <li class="nav-item">
                <a aria-controls="customer" aria-selected="false" class="nav-link" data-toggle="tab" href="#customer" id="customer-tab" role="tab">
                    <span>2</span>Customer</a>
            </li>
            <li class="nav-item">
                <a aria-controls="charge" aria-selected="false" class="nav-link" data-toggle="tab" href="#charge" id="charge-tab" role="tab">
                    <span>3</span>Charge</a>
            </li>
            <li class="nav-item">
                <a aria-controls="sub" aria-selected="false" class="nav-link" data-toggle="tab" href="#sub" id="sub-tab" role="tab">
                    <span>4</span>Subscription</a>
            </li>
            <li class="nav-item">
                <a aria-controls="success" aria-selected="false" class="nav-link" data-toggle="tab" href="#success" id="success-tab" role="tab">
                    <span>5</span>Success!</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContents">
            <div aria-labelledby="card-tab" class="tab-pane fade show active" id="card" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                    chinwag spend a penny
                    lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                            sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                            appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
            </div>
            <div aria-labelledby="customer-tab" class="tab-pane fade" id="customer" role="tabpanel">
                <p class="ft_change">Tristique omnis? Hymenaeos montes facilisi magnam facilisi
                    ante voluptates
                    odio nulla exercitationem tincidunt maecenas, dolores mauris praesent
                    placeat</p>
                <div class="version">
                    <p>Vivamus vero netus tristique venenatis excepteur nisl diamlorem nobis
                        dolorem consequatur repellendus voluptatibus sit voluptas similique
                        taciti pariatur, veniam, consequatur.</p>
                    <p>Maecenas tempore facilis temporibus quas! Eius illo optio, rhoncus
                        expedita doloremque gravida, aptent, pariatur porro</p>
                    <p>Tristique omnis? Hymenaeos montes facilisi magnam facilisi ante
                        voluptates odio nulla exercitationem tincidunt maecenas, dolores mauris
                        praesent placeat</p>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="charge-tab" class="tab-pane fade" id="charge" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                    chinwag spend a penny
                    lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                            sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                            appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="sub-tab" class="tab-pane fade" id="sub" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                    chinwag spend a penny
                    lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                            sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                            appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
                <p>
                    <span>Usage:</span>
                    Click "Submit" to create a token.</p>
            </div>
            <div aria-labelledby="success-tab" class="tab-pane fade" id="success" role="tabpanel">
                <p class="ft_change">Twit brilliant he legged it he nicked it amongst hotpot
                    chinwag spend a penny
                    lemon squeezy he lost his bottle porkies, Why it's your round happy days.
                </p>
                <div class="version">
                    <div class="v_head">
                        Docy run hello-world
                    </div>
                    <div class="v_middle">
                        <p>Unable to find image
                            <span class="red">'hello-world:latest'</span>
                            locally</p>
                        <p>latest: Pulling from library/hello-world</p>
                        <p>ca4f61b1923c: Pull
                            <span class="green">complete</span>
                        </p>
                        <p>Digest:
                            sha256:ca0eeb6fb05351dfc8759c20733c91def84cb8007aa89a5bf606bc8b315b9fc7
                        </p>
                        <p>Status: Downloaded newer image for hello-world:latest</p>
                    </div>
                    <div class="v_footer">
                        <p>Hello from Docy!<br>
                            This message shows that your installation
                            appears to be working correctly.
                            <br>...</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-lg previous">
                <i class="arrow_carrot-left"></i>
            </button>
            <button class="btn btn-info btn-lg next">
                <i class="arrow_carrot-right"></i>
            </button>
        </div>
    </div>

</div>