<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">

        {% if page.category %}
        <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>La Música</h1>
        <p>La lista de reproducción: una lista de música que complemente complementa y que extiende los alcances del texto, producto de la selección musical que alumnas/os vinculados a la investigación me regalaron, evocando sus experiencias en la academia Son de Habana. “Así suena SDH”  es un recorrido por los distintos géneros musicales y ritmos  que bailamos semana a semana. (p. 16)</p>
    </div>

    <div class="toggle_shortcode">
        <div class="shortcode_title">
            <h4>Glosario de ritmos y géneros musicales</h4>
        </div>
        <a aria-controls="multiCollapseExample1" aria-expanded="false" class="toggle_btn" data-toggle="collapse" href="#multiCollapseExample1" role="button">Bachata</a>
        <div class="collapse multi-collapse show" id="multiCollapseExample1">
            <div class="card card-body toggle_body">
                Expresión musical y bailable de origen dominicano, configurado bajo la influencia del bolero, el merengue y el son cubano. “El vocablo “bachata” se supone que es de origen africano y en un principio no se usaba para designar un género musical específico, sino más bien una reunión o fiesta animada”. Sus letras hablan principalmente del amor, el desamor, la nostalgia. Declarada patrimonio inmaterial de la humanidad en 2019. Hoy en día es uno de los ritmos más populares dentro de las academias alrededor del mundo y en discotecas y bares de enfoque “latino”. Entre sus exponentes se cuentan los dominicanos Frank Reyes, Romeo Santos y Juan Luis Guerra. Instrumentos: contrabajo, bongó, maracas, güira, guitarra.
                Canciones:

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/2DM3L2WYTE1PjwW6dXNnv4?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/5kAWnPV02IiDkjMs1mTgf7?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample2" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample2" role="button">Bugalú</a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body toggle_body">
                Del inglés boogaloo, “género musical surgido en Estados Unidos en la década de los sesenta. Fusiona ritmos afrocubanos con soul estadounidense y es cantado tanto en inglés como en español”. “A mediados de los años sesenta las orquestas latinas de Nueva York, las más jóvenes, impusieron varios en esa onda del Boogaloo”, que converge con una época de auge del pop y el rock. Fue un género diseñado con el objetivo comercial de poner a gozar al público “gringo” con las sonoridades de los llamados “ritmos latinos”, que iban en ascenso de popularidad en la época. Entre sus exponentes hay que nombrar a Joe Cuba, Louie Ramírez, La Lupe, Ray Barreto y más recientemente a los Boogaloo Assassins Instrumentos: piano, claps (palmas), cencerro, trompetas, entre otros.
                Canciones:

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/6Wy3X4jSszfisnRscJCHdq?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/05rs5thm6WP0Ct3Nd2rWeT?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample4" role="button">Chachachá</a>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="card card-body toggle_body">
                Ritmo de origen cubano, “creado por el violinista cubano y director de orquesta Enrique Jorrín en 1948, gracias a sus experimentaciones con la forma, la melodía y el ritmo del danzón”. Se dice que el nombre con el que finalmente se le designó “nació con la ayuda de los bailadores, cuando al inventarse el baile que se acoplaba con el ritmo se descubrió que los pies marcaban un sonido peculiar al rozar el suelo, justamente en tres pasos de ritmo sincopado”, similar al de la onomatopeya “cha-cha-chá”. Entre sus exponentes se cuenta la Orquesta Aragón, Tito Puente y su Orquesta, y la Orquesta América. Instrumentos: trompeta, trombón, conga, bongó, timbales, cencerro, güiro, maracas, piano y contrabajo.
                Canciones:

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/73uEbChpBB29ttwVnwuNVE?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/0BgcwnHCmypEQmi8DqIWSC?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample5" role="button">Champeta</a>
        <div class="collapse multi-collapse" id="multiCollapseExample5">
            <div class="card card-body toggle_body">
                Expresión musical bailable del Caribe colombiano. Se trata de un “híbrido musical que tiene elementos claros de los ritmos africanos, antillanos y algunos signos del folclor afrocolombiano, quizás los más perceptibles al oído y a la vista sean el bullerengue, el mapalé, el zambapalo y la chalupa”. Entre sus exponentes habría que nombrar a Son Palenque, Mr. Black y Kevin Flórez. Instrumentos: batería, guitarras eléctricas, bajo, congas, sintetizador, entre otros.
                Canciones:

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/2pSKcNWzYaIUVGKyYi53SN?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/7oq2bWf1ZIcYk2ES8hRMVl?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample6" role="button">Changüí</a>
        <div class="collapse multi-collapse" id="multiCollapseExample6">
            <div class="card card-body toggle_body">
                Se entiende por Changüí un “(…) ancestral ritmo cubano, considerado célula primigenia del Son”, pero también el baile que lo acompaña y complementa. Este ritmo nació en Guantánamo, Cuba, a mediados del siglo XIX, y se popularizó en las fiestas campesinas de la época. Entre sus exponentes se cuentan los hermanos Arturo y Chito Latambé, y Elio Revé Matos. Instrumentos: tres, bongó, marímbula, guayo y maracas.
                Canciones: Yo soy el Changüí, de Elio Revé, y Potpurrí de Changüí, de Ordequis Revé y Su Changüí.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/3Yc12GIcTzvWBBrpgwO3Cr?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample7" role="button">Columbia</a>
        <div class="collapse multi-collapse" id="multiCollapseExample7">
            <div class="card card-body toggle_body">
                Es uno de los ritmos y bailes que conforman el ciclo de la rumba cubana, caracterizado por su agilidad, por ser mayormente bailado por hombres (recientemente también por mujeres) y porque en ocasiones incluye elementos adicionales con los que el bailarín hace alarde de su destreza, como cuchillos o velas. En su interpretación se utiliza especialmente el movimiento de hombros y piernas.
                Canciones: Rumba Columbia, de El Solar de los 6, y Columbia, de Adonis & Osain del Monte.

                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3j4N3MljAYGWwRgzrGujiQ?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample8" role="button">Guaguancó</a>
        <div class="collapse multi-collapse" id="multiCollapseExample8">
            <div class="card card-body toggle_body">
                Ritmo y baile que hace parte del ciclo de la rumba, cuyo origen es posterior a “la abolición de la esclavitud en Cuba en 1886 y [que] representó una fusión de varios rituales profanos afrocubanos”. Es reconocida su clave 2 X 3, utilizada en muchísimos temas salseros, que además incluyen fragmentos de rumba guaguancó.
                Canciones: Baila mi Guaguancó, de Grupo Afrocuba, y Rumba con amor, de Yoruba Andabo.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/6KzGtk85ArOwoBpid6PoND?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample9" role="button">Kizomba</a>
        <div class="collapse multi-collapse" id="multiCollapseExample9">
            <div class="card card-body toggle_body">
                Expresión musical y bailable de origen angoleño, cuyos inicios se encuentran hacia los años ochenta del siglo XX. Se popularizó inicialmente entre los países lusófonos de África, pero luego se extendió hacia Europa por la migración de maestras/os a España, Francia y Portugal, de forma particular. Se le asocia a otros géneros que le preceden como la semba angoleña y el zouk de las Antillas Francesas. Se baila también de la mano de géneros como el kuduro y el afrohouse. Algunos de sus exponentes son Matías Damasio, C4 Pedro y Yola Semedo. Instrumentos: batería, guitarras, sintetizadores, instrumentos tradicionales angoleños, entre otros.
                Canciones: Tu és a mulher, de C4 Pedro, y Loucos, de Matias Damasio y Héber Marques.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/3AxKlhbCVMwrDbP4laSyys?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/49Fu8EcEOZ9OnpM1XpPpyU?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample10" role="button">Mambo</a>
        <div class="collapse multi-collapse" id="multiCollapseExample10">
            <div class="card card-body toggle_body">
                Ritmo nacido en Cuba en la década de 1930, “heredero del danzón que mezcla sonidos afrocubanos con jazz. Gozó de gran popularidad en Ciudad de México y Nueva York durante los años cincuenta” (Salsa Sin Miseria, 2018, p. 125). Sus principales exponentes fueron Cachao, Perez Padro y Benny Moré. Instrumentos: timbales, saxofón, trompetas, maracas, piano, clave, bongó, congas, entre otros.
                Canciones: Mambo Nº 5 y Qué rico mambo, de Pérez Prado.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/6x4tKaOzfNJpEJHySoiJcs?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/65KQTYQiwd2kZSmGxpfZs0?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample11" role="button">Rumba cubana</a>
        <div class="collapse multi-collapse" id="multiCollapseExample11">
            <div class="card card-body toggle_body">
                Complejo musical esencialmente vinculado a ciertas sonoridades de origen africano, pero que también retoma elementos antillanos y del flamenco español. Surgió entre comunidades de esclavos africanos durante el periodo colonial y se popularizó en toda la isla, para luego ser llevada por los migrantes cubanos a otros territorios de América Latina, el Caribe y Estados Unidos durante el siglo XX. Fue declarada patrimonio inmaterial de la humanidad en 2016. Compuesta por tres expresiones musicales y bailables: el yambú, tiene aires lentos y suele ser bailado por personas de edad avanzada; el guaguancó, ritmo que se baila en parejas, en el que prima la seducción y la picardía; la columbia, de aires rápidos y asentados, y suele ser bailado por hombres. Entre sus exponentes hay que mencionar a la agrupación Yoruba Andabo, Los Muñequitos de Matanzas y Tata Güines. Instrumentos: tambores batá, clave, shékere, tumbadoras, entre otros.
                Canciones: Ponte pa’ lo tuyo, de Yoruba Andabo, y Rumba pa’ los rumberos, de Los Muñequitos de Matanzas.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/5L6rQEG6e6JpFowmwc4eEM?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/1J2Kr2UKwyLgFf8Es7UJ8Q?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample12" role="button">Salsa choke</a>
        <div class="collapse multi-collapse" id="multiCollapseExample12">
            <div class="card card-body toggle_body">
                Género musical urbano que combina “elementos en su estructura musical tomados de las tradiciones de la salsa, el rap, el reguetón y la música tradicional del Pacífico” (Sánchez, 2017, p. 23). Nació en Tumaco, Colombia, hacia inicios del siglo XXI. Entre sus exponentes más reconocidos, la agrupación Cali Flow Latino e Integración Casanova.
                Canciones: Limón con sal, de Rimante ft El Santy, Vení a bailar maniquí, 3D Corazones.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/5V9ioQDBakwJtQv2PMYfc6?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/5fCCdnMcjO0qlqGoqVUvEQ?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample13" role="button">Son</a>
        <div class="collapse multi-collapse" id="multiCollapseExample13">
            <div class="card card-body toggle_body">
                “Género vocal e instrumental bailable [de origen cubano], rey casi absoluto de fiestas campesinas y urbanas. Bailable por excelencia, nació del pueblo desde su raíz montuna hasta sus más contemporáneas manifestaciones, y se enraizó en el gusto popular”. Surgió a finales del siglo XIX, y desde entonces ha tenido a importantes exponentes como Miguel Matamoros, Arsenio Rodríguez, la Sonora Matancera, el Septeto Habanero, entre otros. Instrumentos: tres cubano, maracas, bongó, clave, marímbula.
                Canciones: El Manicero, de Los Cuatro de Belén, y Corazón, de Asere.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/1CW55I2wtRUZlMX2rkr6Ww?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/1lITPQ2pOmgdwu778IaCqA?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample14" role="button">Timba</a>
        <div class="collapse multi-collapse" id="multiCollapseExample14">
            <div class="card card-body toggle_body">
                Una expresión musical que se desarrolla con influencia del son y del songo, en Cuba, y que tiene como característica principal la articulación de distintos ritmos y estilos musicales: son, guaguancó, jazz, rap, reggaetón y más. Se caracteriza por ser “intrincada y compleja, repleta de descargas sonoras agresivas y desfases rítmicos y armónicos”. Sus composiciones suelen tener una extensión considerable; algunas llegan a durar hasta diez minutos. Entre sus exponentes es preciso nombrar a Alexander Abreu y Havana D’ Primera, Maykel Blanco y Timbalive. Instrumentos: piano, batería, congas, bongó, clave, timbal, güiro, trompetas, entre otros.
                Canciones: Tres días, de Havana D’ Primera, y Ese atrevimiento, de Timbalive.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/33hjoPb45TjMp0TGYDawsv?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/07NMY03eO2HHla70kWQPQo?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
        <a aria-controls="multiCollapseExample3" aria-expanded="false" class="toggle_btn mt-3 collapsed" data-toggle="collapse" href="#multiCollapseExample15" role="button">Yambú</a>
        <div class="collapse multi-collapse" id="multiCollapseExample15">
            <div class="card card-body toggle_body">
                Ritmo y baile originado en Matanzas, Cuba, y que hace parte del complejo de la rumba cubana. Se baila en parejas, pero, a diferencia del guaguancó, en este caso no se implementa el “vacunao”. Es de cadencia más lenta que el guaguancó y la columbia.
                Canciones: Rumba Yambú, de Afrekete y Javier Campos, y Pa’ los mayores, de Grupo Afrocuba.

                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/1az7bEQ0ujvWk8Ml5YCJZ7?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <iframe style="margin-top: 15px; border-radius:12px;" src="https://open.spotify.com/embed/track/7DZhCMPwNwhXQ5DwT9olAS?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
        </div>
    </div>

    <div class="mt-5">
        <h4 class="c_head load-order-2">YouTube Channel Videos Playlist</h4>
        <p>Your channel is where you can organize your video content for your audience. As a channel owner, you can add videos, links, and info about yourself or your channel for visitors to explore.</p>
        <div class="course-video-wrapper">
            <div data-ycp_channel="PLOjWvf_XDGHRFnNIDAEEtpOo615ia8TP9" data-ycp_title="#Demo Title" id="ycp"></div>
        </div>
    </div>

    <div class="collaps_tabs">
        <div class="collaps_tab_inner">
            <div class="shortcode_title">
                <h4>Accordion</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                    luctus nec<br/>
                    ullamcorper mattis, pulvinar dapibus leo. Nostra scelerisque fuga
                    wisi aenean.</p>
            </div>
            <div class="card doc_accordion">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link" data-target="#collapseOne" data-toggle="collapse">
                            Conclusions
                            <svg fill="none" height="15" viewbox="0 0 14 15" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7.38812H1M7 1.38812V13.3881V1.38812Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>
                            <svg fill="none" height="3" viewbox="0 0 14 3" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1.38812H1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                    <div class="card-body toggle_body">
                        Don't get shirty with me what a plonker on your bike mate bugger all
                        mate chip shop bits and bobs smashing mush bugger cup of char,
                        in my
                        flat.
                    </div>
                </div>
            </div>
            <div class="card doc_accordion">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseTwo" data-toggle="collapse">
                            Forum
                            <svg fill="none" height="15" viewbox="0 0 14 15" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7.38812H1M7 1.38812V13.3881V1.38812Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>
                            <svg fill="none" height="3" viewbox="0 0 14 3" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1.38812H1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>

                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                    <div class="card-body toggle_body">
                        He lost his bottle arse fanny around do one cheesed off crikey bevy
                        mufty the full monty nancy boy cup of tea spend a penny, golly gosh
                        what a plonker.
                    </div>
                </div>
            </div>
            <div class="card doc_accordion">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
                            Reporting
                            <svg fill="none" height="15" viewbox="0 0 14 15" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7.38812H1M7 1.38812V13.3881V1.38812Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>
                            <svg fill="none" height="3" viewbox="0 0 14 3" width="14" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1.38812H1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#6b707f"/>
                            </svg>
                        </button>
                    </h5>
                </div>
                <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                    <div class="card-body toggle_body">
                        He lost his bottle arse fanny around do one cheesed off crikey bevy
                        mufty the full monty nancy boy cup of tea spend a penny, golly gosh
                        what a plonker.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>