<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            <h1>Sus cuerpos</h1>
        </div>
        <p>En el baile el cuerpo se torna en medio expresivo y comunicativo a través del cual entramos en relación con otras personas, con el espacio y la música; en materia viva sobre y con la cual se producen, negocian, remueven y encarnar sentidos sociales; y en agente creador que da cuenta de la incorporación de unos saberes específicos y de un capital cultural y simbólico, de tipo dancístico y corporal. (p. 56)</p>
        <p>Cuerpos que, lejos de ser universales, han sido configurados y son partícipes de unas historias locales particulares en medio de un mundo globalizado, en el que, además, convergen discursos y prácticas de tiempos históricos distintos. (p. 103)</p>
        <p>El cuerpo en las prácticas de baile está constantemente expuesto a múltiples estímulos que lo afectan, es decir, que actúan sobre él, lo mueven y lo perturban, y ante los cuales este responde afectando-se, presentándose de ciertos modos, adoptando maneras, un carácter, un gesto, una disposición . La letra de una canción, la temperatura de otro cuerpo, una imagen que devuelve el espejo, un contacto en particular, las palabras de un/a compañera/o o maestra/o, la descarga de un instrumento. (p. 150)</p>
        <p>Los cuerpos que aquí bailan participan de un ethos moderno que afirma que el individuo “es aquel que cuestiona su historia y piensa, imagina y acomete su propia constitución y transformación, y lo hace en buena parte en el cuerpo, con el cuerpo y mediante el cuerpo” (Pedraza, 1999, p. 14).</p>
    </div>
</article>