<article class="shortcode_info rvfs-section">
    <div class="caniuse">
        <div class="shortcode_title">
            <h1>Las Personas</h1>
            <blockquote class="media notice notice-success">
                <i class="icon_menu-square_alt2"></i>
                <div class="media-body">
                    <p>
                        “Bailadores de mi raza tan sublime, en ellos ha perdurado la magia del 3 más 2” (“Pa los rumberos” – Mercadonegro).
                    </p>
                </div>
            </blockquote>
        </div>
        <p>Las personas que mantienen vivo el baile son aquellas que otorgan a la práctica sus múltiples significados. Son <kbd>las/os bailadoras/es, bailarinas/es, rumberas/os, artistas.</kbd> Pero son, ante todo, todas/os aquellas/os que se han dejado alcanzar por las sonoridades en movimiento, quienes han llevado los saberes a <kbd>sus cuerpos</kbd> y se han dejado mover por ellos, actualizando con <kbd>sus afectos</kbd> los matices de esta práctica.</p>
        <p>Quienes mantenemos vivo el baile somos <kbd>agentes creadores</kbd> de una cultura supremamente rica y variada, en sentidos, formas y posibilidades. Le damos un lugar en nuestras vidas, explorándolo desde nuestros hogares, desde el barrio, desde los bares y discotecas, los festivales, las academias, los escenarios y más. Lo ponemos a conversar con otras <kbd>experiencias de nuestra vida cotidiana</kbd>, como nuestras relaciones, nuestras nociones del disfrute y del bienestar, de la identidad, lo cultural, el cuerpo, las emociones.</p>

    </div>
</article>