<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">{{include.title}}</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">{{include.subtitle}}</p>
            </div>
            <div class="row">
                {% for item in site.data.recommended_topics %}
                    <div class="col-lg-4 col-6">
                        <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="{{item.img}}" alt="">
                            <a href="#">
                                <h3>{{item.title}}</h3>
                            </a>
                            <ul class="list-unstyled">
                                {% for innerItem in item.child %}
                                    <li>
                                        <a href="{{innerItem.url | relative_url}}">{{innerItem.subtitle}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for item in site.data.investigation_topics %}
                <div class="col-lg-6 col-6 offset-col-lg-3 offset-3">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{{item.img}}" alt="">
                        <a href="#">
                            <h3>{{item.title}}</h3>
                        </a>
                        <ul class="list-unstyled">
                            {% for innerItem in item.child %}
                            <li>
                                <a href="{{innerItem.url | relative_url}}">{{innerItem.subtitle}}</a>
                                {%if innerItem.child %}
                                <ul class="list-unstyled">
                                    {% for innerItem2 in innerItem.child %}
                                    <li>
                                        <a href="{{innerItem2.url | relative_url}}">{{innerItem2.subtitle}}</a>
                                        {%if innerItem2.child %}
                                        <ul class="list-unstyled">
                                            {% for innerItem3 in innerItem2.child %}
                                            <li>
                                                <a href="{{innerItem3.url | relative_url}}">{{innerItem3.subtitle}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>