---
layout: default
search: false
preloader: true
navbar:
    right_nav_tool: true
    type: dark_menu
---

{% include doc_banner.html %}

<section class="doc_blog_classic_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>Tertulia Bailada</h1>

                <div style="margin-top: 30px;" class="row">
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/1.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/1.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/2.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/2.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/3.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/3.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="row">
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/4.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/4.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/5.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/5.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="row">
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/6.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/6.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/7.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/7.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/8.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/8.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="row">
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/9.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/9.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/10.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/10.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="row">
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/11.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/11.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/12.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/12.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/13.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/13.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="row">
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/14.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/14.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <img alt="lightbox" class="img-fluid" src="{{"img/tertulia-bailada/15.jpg" | relative_url}}">
                        <a href="{{"img/tertulia-bailada/15.jpg" | relative_url}}" class="img_popup">
                        <i class="icon_plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!--
                {% include mini-serie/blog_right_sidebar.html %}
                -->
            </div>
        </div>
    </div>
</section>