<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">

        {% if page.category %}
        <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>Saberes</h1>
    </div>


    <div class="process_tab_shortcode">
        <ul class="nav nav-tabs v_menu" id="myTabs" role="tablist">
            <li class="nav-item">
                <a aria-controls="card" aria-selected="true" class="nav-link active" data-toggle="tab" href="#card" id="card-tab" role="tab">
                    <span>1</span>Técnico-estéticos</a>
            </li>
            <li class="nav-item">
                <a aria-controls="customer" aria-selected="false" class="nav-link" data-toggle="tab" href="#customer" id="customer-tab" role="tab">
                    <span>2</span>Histórico-culturales</a>
            </li>
            <li class="nav-item">
                <a aria-controls="charge" aria-selected="false" class="nav-link" data-toggle="tab" href="#charge" id="charge-tab" role="tab">
                    <span>3</span>Expresivo-performativos</a>
            </li>
            <li class="nav-item">
                <a aria-controls="sub" aria-selected="false" class="nav-link" data-toggle="tab" href="#sub" id="sub-tab" role="tab">
                    <span>4</span>Relacionales</a>
            </li>
            <li class="nav-item">
                <a aria-controls="success" aria-selected="false" class="nav-link" data-toggle="tab" href="#success" id="success-tab" role="tab">
                    <span>5</span>Corporal</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContents">
            <div aria-labelledby="card-tab" class="tab-pane fade show active" id="card" role="tabpanel">
                <div class="version">
                    <p class="ft_change">Aquellos saberes que hablan de las habilidades cinéticas y motrices que se desarrollan en el trabajo repetitivo y práctico, y que llevan a realizar pasos, movimientos y figuras entendidas como bellas y armónicas.</p>
                </div>
            </div>
            <div aria-labelledby="customer-tab" class="tab-pane fade" id="customer" role="tabpanel">
                <div class="version">
                    <p>Aquellos saberes que evocan experiencias históricas y culturales que han dado vida al baile salsero –cotidianas, religiosas, festivas, entre otras–, desde distintas regiones de América Latina, el Caribe y el mundo.</p>
                </div>
            </div>
            <div aria-labelledby="charge-tab" class="tab-pane fade" id="charge" role="tabpanel">
                <div class="version">
                    <p>Aquellos saberes que nos interpelan en nuestras subjetividades e identidades otorgando posibilidades expresivas –sabor, picardía, elegancia, gracia, soltura, etc.– para performar como mujeres, hombres, latinas/os, colombianas/os, afrolatinoamericanas/os, y más.</p>
                </div>
            </div>
            <div aria-labelledby="sub-tab" class="tab-pane fade" id="sub" role="tabpanel">
                <div class="version">
                    <p>Aquellos saberes que, a través de los encuentros bailando uno a uno o en grupo, nos invitan a encontrar vías y formas corporales para comunicarnos –con la mirada, las manos, los muslos, las caderas–, interactuar, sentirnos y conectarnos.</p>
                </div>
            </div>
            <div aria-labelledby="success-tab" class="tab-pane fade" id="success" role="tabpanel">
                <div class="version">
                    <p>Aquellos saberes que hablan directamente sobre la materia viva con la cual creamos al bailar –el cuerpo– y que es fundamental conocer; sobre sus partes –músculos, terminaciones nerviosas, sentidos–, sus reacciones –sudar, sonrojarse, cansarse, etc.– y sus posibilidades –estirarse, contraer, presionar y más–.</p>
                </div>
            </div>
            <button class="btn btn-info btn-lg previous">
                <i class="arrow_carrot-left"></i>
            </button>
            <button class="btn btn-info btn-lg next">
                <i class="arrow_carrot-right"></i>
            </button>
        </div>
    </div>

    <iframe width="100%" height="500" src="https://www.youtube.com/embed/0xHjlJzoCqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>