<article class="shortcode_info documentation_info tour_content rvfs-section">
    <div class="documentation_body" id="documentation">
        <div class="shortcode_title">
            <h1>Sentidos en disputa</h1>
        </div>
        <div class="border_bottom"></div>
        <div class="tour_item">
            <h4 class="c_head load-order-2">“Lo femenino” y “lo masculino”</h4>
            <div class="row align-items-center">
                <div class="col-sm-5 tour_info_content">
                    <p>Se enseñan unas formas de hacer al bailar que soportan unos roles e identidades de género, por medio de los saberes técnico-estéticos, expresivos, performativos, relacionales y demás. Sentidos que suelen producir tensiones y contradicciones con las cuales dialogamos y trabajamos el movimiento al bailar: entre el empoderamiento, la sensualidad, la docilidad y la suavidad (para las mujeres); la seguridad, la fortaleza, la jovialidad, la soltura (para los hombres).</p>
                </div>
                <div class="col-sm-7">
                    <div class="tour_preview_img wow fadeInRight" data-wow-delay="0.3s">
                        <img alt="" class="img-fluid" src="{{"img/tour_img1.png" | relative_url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="border_bottom"></div>
        <div class="tour_item">
            <h4 class="c_head" width="100%" style="text-align: right">El “buen gusto” musical</h4>
            <div class="row align-items-center tour_intro_item">
                <div class="col-sm-7">
                    <div class="tour_preview_img wow fadeInLeft" data-wow-delay="0.7s">
                        <img alt="" class="img-fluid" src="{{"img/tour_img3.png" | relative_url}}">
                    </div>
                </div>
                <div class="col-sm-5 tour_info_content">
                    <p>Una práctica significante de carácter enclasante, es decir, que se produce por la sedimentación en el cuerpo de inclinaciones o disposiciones hacia algo (un tipo de música, ciertas costumbres, comidas, etc.), preferencias, actitudes o habilidades. En la experiencia del baile, el gusto por una u otra música o el rechazo de la misma puede transformarse o desestabilizarse en el encuentro con una experiencia placentera con el movimiento, con las formas de relacionamiento y las oportunidades expresivas.</p>
                </div>
            </div>
        </div>
        <div class="border_bottom"></div>
        <div class="tour_item">
            <h4 class="c_head load-order-2">El “buen oído” musical</h4>
            <div class="row align-items-center">
                <div class="col-sm-5 tour_info_content">
                    <p>Se califica como una condición biológica o, cuando menos, culturalmente heredada y transmitida en la infancia –en la experiencia de ser “latinos”– y difícilmente entrenable fuera de la rumba. La experiencia del ritmo se asocia, de forma especial e incuestionable, a la posibilidad de disfrutar en el baile, por lo que se privilegia y se celebra la sensibilidad auditiva hacia los instrumentos percutivos. Esta creencia se puede desdibujar o matizar de cara a las experiencias afectivas de alumnas/os en la academia, que hace evidente la existencia de otras sensibilidades regularmente ignoradas hacia la música.</p>
                </div>
                <div class="col-sm-7">
                    <div class="tour_preview_img wow fadeInRight" data-wow-delay="0.3s">
                        <img alt="" class="img-fluid" src="{{"img/tour_img1.png" | relative_url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="border_bottom"></div>
        <div class="tour_item">
            <h4 class="c_head" width="100%" style="text-align: right">Los rumbos de la rumba</h4>
            <div class="row align-items-center tour_intro_item">
                <div class="col-sm-7">
                    <div class="tour_preview_img wow fadeInLeft" data-wow-delay="0.7s">
                        <img alt="" class="img-fluid" src="{{"img/tour_img3.png" | relative_url}}">
                    </div>
                </div>
                <div class="col-sm-5 tour_info_content">
                    <p>Las personas son agentes de nuevas experiencias afectivas en ese ejercicio de cargar del salón de baile a la pista del bar esos saberes incorporados, que además ponen a prueba y estudian –algunas/os con una entrega asombrosa– para retroalimentar su proceso de aprendizaje en la academia. En los conocimientos corporales, técnicos, expresivos y demás, encuentran nuevas herramientas para sobreponerse al temor al rechazo en la rumba y para expandir las oportunidades de hallar parejas de baile o posibles romances. Así, la dicotomía baile de academia/baile de la rumba se torna cada vez menos estable y absoluta.</p>
                </div>
            </div>
        </div>
        <div class="border_bottom"></div>
        <div class="tour_item">
            <h4 class="c_head load-order-2">El ideal romántico-erótico y la deserotización del baile</h4>
            <div class="row align-items-center">
                <div class="col-sm-5 tour_info_content">
                    <p>Estos bailes se sostienen sobre relaciones históricamente entendidas e idealizadas desde el lente y paradigma normativo de la heterosexualidad. A ello responde el baile en pareja, repleto de códigos expresivos con los cuales se espera hacer efectiva la seducción o el enamoramiento, como sucede con especial intensidad en la salsa, en la rumba cubana y en la bachata. No obstante, muchas personas encuentran placer y plenitud en otras vías para el relacionamiento en el formato de pareja, al igual que con la experiencia de bailar en grupo.</p>
                </div>
                <div class="col-sm-7">
                    <div class="tour_preview_img wow fadeInRight" data-wow-delay="0.3s">
                        <img alt="" class="img-fluid" src="{{"img/tour_img1.png" | relative_url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="border_bottom"></div>

    </div>
</article>