<div class="shortcode_info rvfs-section">
    <div class="shortcode_title">

        {% if page.category %}
        <a class="btn" href="#">{{page.category}}</a>
        {% endif %}
        <h1>Ritmos “latinos”/“afrolatinos”</h1>
        <p>El famoso bailarín <kbd><a href="https://www.youtube.com/watch?v=bTyQdOemvdQ&ab_channel=EddieTorres" target="_blank">Eddie Torres</a></kbd> recuerda con la expresión <kbd><a href="https://www.youtube.com/watch?v=0KPlFRbz518&ab_channel=SalsolicosAnonimos" target="_blank">“¿Do you know how to latin?”</a></kbd> que ya para los 50’s se entendía que bailar “latino” significaba estar en posesión de un capital cultural, corporal y dancístico asociado a unas músicas específicas –de origen cubano y de gran popularidad en la época– y a una identidad “latina”.
        </p>
        <p>En los 60’s toma forma una industria cultural que popularizó “lo latino” como producto global, un producto que muchas/os aficionadas/os a las músicas y bailes empezaron a consumir, favoreciendo el “crecimiento del número de patrocinadores corporativos interesados en los Latinos como mercado objetivo” en los Estados Unidos, así como del fenómeno salsero que, “superando en ventas al ketchup y tomándose las pistas de baile”  (p. 1), aportó a la configuración y mercantilización de las representaciones y definiciones contemporáneas de “latinidad”.
        </p>
        <p>El dispositivo simbólico de “la latinidad” llega para exaltar una homogeneidad deseada y estratégica que, sin embargo, “[borra] las diferencias en tanto abarca poblaciones altamente heterogéneas y es susceptible de ser usado para una variedad de políticas” culturales, económicas, etc.
        </p>
        <p>En ese proceso, lo “afrolatino” también toma la forma de un dispositivo simbólico que, en este caso, “transforma positivamente términos originalmente peyorativos” –“lo africano” y “lo latino”– para visibilizarlos y extraer de ellos su potencial como producto consumible, de cara a una industria cultural que explota cada vez más la exotización de dichas identidades.
        </p>
        <p>Son músicas y bailes “mulatos” por el “proceso relacional (político, en el sentido amplio del término) y enriquecedor de la hibridez, desde donde fueron conformándose unos modos de elaboración y expresiones sonoras y corporales en –y más allá de– los trasfondos y las combinaciones” (2009, p. 82). En cada una de estas músicas el componente rítmico es primordial y que son, por consiguiente, “inseparables de su expresión social espacial bailable”. Ritmos “latinos” y “afrolatinos” como la salsa, la bachata, el tango, el merengue, la champeta, la salsa choke, el reggaetón, entre otros.
        </p>
    </div>

    <div class="mt-5">
        <h4 class="c_head load-order-2">Coreografías de miniserie: </h4>

        <div class="row">
            <div class="col-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/BZAHB7LH-GU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/AQzmBRRK7vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/SCATdK9sT2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/tg9xYzkxkLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


</div>